html {
  margin: 0;
  padding:0;
}

body {
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,
    "ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}


.HeaderContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.HeaderLogo__image{
  display: block;
   height: 20px;
    width: auto;
}

main{background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}


ul {
   align-items: center;
   list-style: none;
   display: flex;
   text-align: center
 }
 
 .menu{
     color: black;
 }
 
 .ContactButton {
    background-color: #f79214;
    color: white;
    border: none;
    border-radius: 38px;
    font-weight: 700;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
   }
 
 .ContactButton2  {
    background-color: #f79214;
    color: white;
    border: none;
    border-radius: 38px;
    font-weight: 700;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
   }
   
   footer{
    background-color: #f79214
    }
   
   video{
    width: 50%;  
   }
  
   